<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Affiliate code:</strong>
  <%= @store.affiliate_code %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @store.image_url %>
</p>

<p>
  <strong>Standard price:</strong>
  <%= @store.standard_price %>
</p>

<p>
  <strong>Express price:</strong>
  <%= @store.express_price %>
</p>

<p>
  <strong>Free Delivery Threshold:</strong>
  <%= @store.free_delivery_threshold %>
</p>

<p>
  <strong>Delivery copy:</strong>
  <%= @store.delivery_copy %>
</p>

<p>
  <strong>Days to return:</strong>
  <%= @store.days_to_return %>
</p>

<p>
  <strong>Returns copy:</strong>
  <%= @store.returns_copy %>
</p>


<ul>
<% @store.products.each do |product| %>
  <li><%= product.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
