<div class="row">
  <div class="col-sm-12">
    <% title("Home Page") %>
    <h1>Welcome to Search The Sales</h1>
  </div>
</div>

<h4>Everything you could want from the stores you love</h4>

<div class="row">
  <% @stores.each do |store| %>
  	<div class="col-md-3">
      <img src="<%= store.image_url %>">
    </div>
  <% end %>
</div>

<h4>All of your favourite brands</h4>

<div class="row">
  <% @brands.each do |brand| %>
    <%= link_to brand_path(brand) do %>
      <div class="col-md-3">
        <img src="<%= brand.image_url %>">
      </div>
    <% end %>
  <% end %>
</div>

<h4>Just a small selection of the thousands of products we have</h4>

<div class="row">
  <% @products.first(4).each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="col-md-3">
        <img src="<%= product.image_url %>">
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <h4>Your wishlist</h4>
  <div class="row">
    <% @wishlist.each do |item| %>
      <div class="col-md-3">
        <img src="<%= item.image_url %>">
      </div>
    <% end %>
  </div>
<% else %>
  <h4>Sign in to create your wishlist</h4>
  <%= link_to "Sign up now", new_user_registration_path %>
<% end %>

<% if current_user %>
  <h4>Your Shopping Basket</h4>
  <div class="row">
    <% @basket.products.each do |item| %>
      <div class="col-md-3">
        <img src="<%= item.image_url %>"><br>
        <p>Price: <%= item.sale_price %></p>

      </div>
    <% end %>
  </div>
  <h4>Total: <%= @basket.total_price %></h4>
<% else %>
  <h4>Sign in to add to your shopping basket</h4>
  <%= link_to "Sign up now", new_user_registration_path %>
<% end %>