<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>

<h4>Products</h4>
<div class="row">
  <% @color.products.each do |product| %>
    <div class='col-md-3'>
      <img src="<%= product.image_url %>">
    </div>
  <% end %>
</div>