<% title @feature.title %>
<% meta_description @feature.copy %>
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to root_path, class: "home-button", target: "_self" do %>
          <img src=<%= asset_path "assets/shopshopgo.png" %>>
        <% end %>
      </li>

       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
         <li class="divider"></li>
        <li>
          <a href="http://www.storeluv.com/?gender=male" target="_self">Mens</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="http://www.storeluv.com/?gender=female" target="_self">Womens</a>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Features</a>
          <ul class="dropdown">
            <% @features.each do |f| %>
              <li class="<%= 'active' if f.id === @feature.id %>">
                <%= link_to f.title, feature_path(f), target: "_self" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="divider"></li>
        <li id="sign-in-li" ng-show="!user.id">
          <a data-reveal-id="signInModal">Sign in</a>
        </li>

        <div id="signInModal" class="reveal-modal" ng-controller="UserSessionsController" data-reveal>
          <h2>Sign in to your ShopShopGo account</h2>
          <p>Need to register for an account? <a data-reveal-id="signUpModal">Sign up now!</a></p>
            
          
          <div class="alert alert-danger" role="alert" ng-show="error">
            {{error}} 
          </div>

          <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
            <div class="form-group"> 
              <label for="email">Email</label> 
              <input type="email" name="email" id="email" ng-model="loginForm.email" required="required" class="form-control"> 
            </div> 
            <div class="form-group"> 
              <label for="password">Password</label> 
              <input type="password" name="password" id="password" ng-model="loginForm.password" required="required" class="form-control"> 
            </div> 
            <button type="submit" class="btn btn-primary btn-lg">Sign in</button> 
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="signUpModal" class="reveal-modal" ng-controller="UserRegistrationsController" data-reveal>
          <h2>Sign Up For a ShopShopGo account</h2>
          <p>Already got an account? <a data-reveal-id="signInModal">Sign in now!</a></p>
          <div class="alert alert-danger" role="alert" ng-show="error">
            {{error}} 
          </div>
          <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
            </div>

            <div class="form-group">
              <label>Password confirmation</label>
              <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Register</button>
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>

        <li id="sign-out-li" ng-show="user.id"><a ng-click='signOut()'>Sign out</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>

<div class="feature-hero">
  <div class="row">
    <div class="feature-copy-card">
      <h1 class="feature-title"><%= @feature.title %></h1> 
      <h5 class="feature-copy"><%= @feature.copy %></h5>
      <% if @feature.feature_links.any? %>
      <ul class="inline-list">
        <% @feature.feature_links.first(4).each do |fl| %>
          <li>
            <h6><%= link_to fl.name.titleize, fl.link_url, target: "_self" %></h6>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
    
  </div>
</div>



<div class="row products-row">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
  <% @products.each do |product| %>
    <li>
      <div class="product-container">
        <div class="feature-product-image-container">
          <%= image_tag product.image_url, class: "feature-product-image", alt: "#{product.name} by #{product.brand.name}" %>
        </div>
        
        <%= link_to "Buy", buy_product_path(product), target: "_blank", class: "button buy-button feature-buy-button" %>
        <a data-reveal-id="modal<%= product.id %>" class="button feature-info-button">Info</a>

        <div id="modal<%= product.id %>" class="reveal-modal medium" data-reveal>
          <%= link_to buy_product_path(product), target: "_blank" do %>
            <h2><%= product.name.titleize %></h2>
          <% end %>
          <h4>By <%= product.brand.name.titleize %></h4>
          <%= link_to buy_product_path(product), target: "_blank" do %>£<%= number_with_precision(product.display_price, precision: 2) %>
          <% end %>
          <p class="lead">Sizes: <%= product.size || link_to("See Retailer", buy_product_path(product), target: "_blank") %></p>
          <p><%= product.name.titleize %> by <%= product.brand.name.titleize %> <br> <%# product.description %></p>
           
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="product-description">
          <p class="product-brand"> <%= product.brand.name %> </p>
          <p class="product-name"> <%= product.name %> </p>
          <p class="product-price"> £<%= number_with_precision(product.display_price, precision: 2) %> </p>
        </div>
        
      </div>
  </li>
  <% end %>
  </ul>
</div>

<div class="more-products">
  <div class="row">
    <h3 >Want to see even more great products?</h3>
    <%= link_to "View the entire collection", root_path + @feature.build_query_string, class: "more-products-button", target: "_self" %>
  </div>
</div>

<div class="call-to-action">
  <div class="row">
    <div class="small-12 large-6 columns">
      <h2 class="call-to-action-header">Search millions of products</h2>
      <h4 class="call-to-action-copy">All your favourite brands and stores</h4>
      <ul class="inline-list">
        <li>
          <a href="http://www.storeluv.com/?gender=male" target="_self"><strong>Mens</strong></a>
        </li>
        
        <li>
          <a href="http://www.storeluv.com/?gender=female" target="_self"><strong>Womens</strong></a>
        </li>
      </ul>
      <form action="/" method="GET">
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" name="searchString" placeholder="search for what you've been dreaming of"/>
              </div>
              <div class="small-2 columns">
                <input type="submit" class="button postfix"/> 
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="small-12 large-6 columns text-right">
      <h2 class="call-to-action-header">About ShopShopGo</h2>
      <p>ShopShopGo is the new way to shop for fashion. Add products from all the top shops online into one basket, and checkout in one place. Search through millions of amazing products, and find items that are just for you. Save your favourite items to wish lists which you can share with your friends and family.</p>
      <p>Got a question? <a href="mailto:info@searchthesales.com">Get in touch!</a></p>
    </div>
    <div class="small-12 large-3 columns">
    </div>
  </div>
</div>