<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feature.title %>
</p>

<p>
  <strong>Copy:</strong>
  <%= @feature.copy %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @feature.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @feature.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @feature.sub_category %>
</p>

<p>
  <strong>Search string:</strong>
  <%= @feature.search_string %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @feature.gender %>
</p>

<p>
  <strong>Store:</strong>
  <%= @feature.store %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @feature.image_url %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
