<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">StoreLuv</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </section>
  </nav>
</div>

<dl class="sub-nav">
  <div class="row">
  <dd class="active"><a href="#">Trending</a></dd>
  <dd><a href="#">Mens</a></dd>
  <dd><a href="#">Womens</a></dd>
  <dd><a href="#">Sale</a></dd>
  </div>
</dl>

<!-- <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'StoreLuv', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-right navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
<div class="navbar navbar-default brand">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to "Trending", '#' %></li>
        <li><%= link_to "Mens", '#' %></li>
        <li><%= link_to "Womens", '#' %></li>
        <li><%= link_to "Sale", '#' %></li>
      </ul>
    </div>
  </div> -->