<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="fragment" content="!" />
    <base href="/">
    <title><%= content_for?(:title) ? yield(:title) : "StoreLuv" %></title>
    <link rel="stylesheet" type="text/css" href=<%= asset_path "css/app.css" %>>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src=<%= asset_path "js/lib.js" %>></script>
    <script type="text/javascript" src=<%= asset_path "js/app.js" %>></script>
  </head>

  <body>
    <%= yield %>
  </body>

  <script type="text/javascript">
    $(document).foundation();
  </script>
</html>