<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <link rel="stylesheet" type="text/css" href=<%= asset_path "css/app.css" %>>
    <script type="text/javascript" src=<%= asset_path "js/lib.js" %>></script>
    <script type="text/javascript" src=<%= asset_path "js/app.js" %>></script>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>