<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="<%= meta_description %>" />
    <meta name="fragment" content="!" />
    <base href="/">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href=<%= asset_path "css/app.css" %>>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
  </head>

  <body>

    <%= yield %>

    <% if Rails.env.production? %>
      <script type="text/javascript" src=<%= asset_path "min/packaged-app.min.js" %>></script>
    <% else %>
      <script type="text/javascript" src=<%= asset_path "js/lib.js" %>></script>
      <script type="text/javascript" src=<%= asset_path "js/app.js" %>></script>
    <% end %>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
  
</html>